.DS_Store
arduino/build_scripts/*.mk
arduino/otamatone/build-teensy31
arduino/otamatone/build-teensy31/*
arduino/otamatone/tyc
arduino/otamatone/*.inot
arduino/otamatone/*.hex
eagle/otamatone.*#*
*.zip
