[submodule "arduino/src/arduino-menusystem"]
	path = arduino/src/libs/arduino-menusystem
	url = https://github.com/wormyrocks/arduino-menusystem
[submodule "arduino/src/libs/arduino-menusystem"]
	path = arduino/src/libs/arduino-menusystem
	url = https://github.com/wormyrocks/arduino-menusystem
